---
import MainLayout from "../../layouts/MainLayout.astro";
import { getEntry, render } from "astro:content";
import { formatDate } from "../../utils";
import Tags from "../../components/Tags.astro";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await render(entry);
---

<MainLayout>
  <a
    href="/articles"
    class="inline-block
      bg-gray-100
      text-black
      px-5 py-2.5
      rounded-lg
      font-medium
      shadow-sm
      transition-colors
      hover:bg-indigo-700
      mb-6
      hover:text-white"
    >Back To Articles</a
  >
  <article>
    <h1 class="text-4xl font-bold mb-2">
      {entry.data.title}
    </h1>
    <h3 class="text-lg mb-2">
      Written by {entry.data.author} on {formatDate(entry.data.pubDate)}
    </h3>
    <Tags tags={entry.data.tags} />
    <img
      src={"/images/" + entry.data.image}
      alt="Article Image"
      class="w-full h-auto rounded-xl my-6"
    />
    <Content />
  </article>
</MainLayout>

<style is:global>
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }
</style>
